<h1>Nova Tarefa</h1>

<%= form_with(model: @tarefa, local: true) do |form| %>
  <div class="field">
    <%= form.label :data, "Data" %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :descricao, "Descrição" %>
    <%= form.text_area :descricao, rows: 3 %>
  </div>

  <div class="field">
    <%= form.label :bloco, "Bloco(em min)" %>
    <%= form.text_field :bloco %>
  </div>

  <div class="field">
    <%= form.label :categoria_id, "Categoria" %>
    <%= form.collection_select :categoria_id, Categoria.all, :id, :nome, prompt: "Selecione uma Categoria" %>
  </div>

  <div class="actions">
    <%= form.submit "Criar Tarefa", class: "btn-primary" %>
  </div>
  
<% end %>
