<h1 class="titulo-pagina">Criar Meta</h1>

<%= form_with(model: @meta, url: metas_path, local: true) do |form| %>
  <div class="form-container centralizar-formulario"> 
    <div class="field">
      <%= form.label :data_inicio, "Data Início", class: "label-tarefa" %>
      <%= form.date_select :data_inicio, class: "input-tarefa" %>
    </div>

    <div class="field">
      <%= form.label :data_fim, "Data Fim", class: "label-tarefa" %>
      <%= form.date_select :data_fim, class: "input-tarefa" %>
    </div>

    <div class="field">
      <%= form.label :descricao, "Descrição", class: "label-tarefa" %>
      <%= form.text_area :descricao, rows: 3, class: "input-tarefa" %>
    </div>

    <div class="field">
      <%= form.label :status_id, "Status", class: "label-tarefa" %>
      <%= form.collection_select :status_id, Status.all, :id, :nome, { prompt: "Selecione um Status" }, { class: "input-tarefa" } %>
    </div>

    <div class="field">
      <%= form.label :categoria_id, "Categoria", class: "label-tarefa" %>
      <%= form.collection_select :categoria_id, Categoria.all, :id, :nome, { prompt: "Selecione uma Categoria" }, { class: "input-tarefa" } %>
    </div>

    <div class="actions">
      <%= form.submit "Criar Meta", class: "btn-primary" %>
    </div>
  </div>
<% end %>
