<h1>Relatórios</h1>

<h2>Metas</h2>
<p>Total de Metas: <%= @total_metas %></p>
<p>Metas Cumpridas: <%= @metas_cumpridas %> (<%= @porcentagem_metas_cumpridas %>%)</p>

<h2>Tarefas</h2>
<p>Total de Tarefas: <%= @total_tarefas %></p>
<p>Tarefas Executadas: <%= @tarefas_executadas %> (<%= @porcentagem_tarefas_executadas %>%)</p>

<h3>Produtividade por Semana:</h3>
<% if @tarefas_por_semana.any? %>
  <ul>
    <% @tarefas_por_semana.each do |semana, quantidade| %>
      <li>Semana de <%= semana.strftime('%d/%m/%Y') %>: <%= quantidade %> tarefas concluídas</li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma tarefa concluída por semana até o momento.</p>
<% end %>

<h3>Produtividade por Mês:</h3>
<% if @tarefas_por_mes.any? %>
  <ul>
    <% @tarefas_por_mes.each do |mes, quantidade| %>
      <li>Mês de <%= mes.strftime('%m/%Y') %>: <%= quantidade %> tarefas concluídas</li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma tarefa concluída por mês até o momento.</p>
<% end %>

<h3>Produtividade por Turno:</h3>
<% if @tarefas_por_turno.any? %>
  <ul>
    <% @tarefas_por_turno.each do |turno, quantidade| %>
      <li><%= turno %>: <%= quantidade %> tarefas concluídas</li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma tarefa concluída por turno até o momento.</p>
<% end %>

<h3>Categorias de Tarefas Mais Realizadas:</h3>
<% if @tarefas_por_categoria.any? %>
  <ul>
    <% @tarefas_por_categoria.each do |categoria_id, quantidade| %>
      <li><%= Categoria.find(categoria_id).nome %>: <%= quantidade %> tarefas concluídas</li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma tarefa realizada por categoria até o momento.</p>
<% end %>

<h3>Categorias de Metas Mais Realizadas:</h3>
<% if @metas_por_categoria.any? %>
  <ul>
    <% @metas_por_categoria.each do |categoria_id, quantidade| %>
      <li><%= Categoria.find(categoria_id).nome %>: <%= quantidade %> metas concluídas</li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma meta realizada por categoria até o momento.</p>
<% end %>
